# Práctica 1: Procesamiento de datos mediante Apache Spark
By Luis Daniel Casais Mezquida, Lucas Gallego Bravo, Francisco Montañés de Lucas & Diego Picazo García  

Computación de Altas Prestaciones 24/25  
Máster en Ingeniería Informática, Universidad Carlos III de Madrid

## Setup

### Pyspark

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import unix_timestamp, col, to_utc_timestamp, from_utc_timestamp, when, try_divide, asc, desc


spark = SparkSession.builder.master('local[2]').getOrCreate()
#spark.conf.set('spark.cores.max', '1')
#spark.conf.set('spark.driver.memory','1000M')

sc = spark.sparkContext

!pip install psutil
from psutil import virtual_memory
print(f"Your runtime has {virtual_memory().total / 1e9:.1f} GiB of RAM, {spark.sparkContext.defaultParallelism} cores")

### Import libraries

In [17]:
from datetime import datetime
import matplotlib.pyplot as plt
from time import perf_counter

#### Download data

In [ ]:
#!wget https://aulaglobal.uc3m.es/pluginfile.php/7354849/mod_assign/introattachment/0/tripdata_2017-01.csv?forcedownload=1 -o tripdata_2017-01.csv
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv -O data/taxi_zone_lookup.csv
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-07.parquet -O data/yellow_tripdata_2024-07.parquet

#### Load data

In [ ]:
zone_map = spark.read.format("csv").option("inferSchema", "true").option("header", "true").option("mode", "DROPMALFORMED").load("data/taxi_zone_lookup.csv")
zone_map.show()

zone_map: dict[int, list[str]] = zone_map.toPandas().set_index('LocationID').T.to_dict('list')

In [ ]:
# df = spark.read.format("csv").option("inferSchema", "true").option("timestampFormat","yyyy-MM-dd HH:mm:ss").option("header", "true").option("mode", "DROPMALFORMED").load("data/tripdata_2017-01.csv")
df = spark.read.format("parquet").option("inferSchema", "true").option("timestampFormat","yyyy-MM-dd HH:mm:ss").option("header", "true").option("mode", "DROPMALFORMED").load("data/yellow_tripdata_2024-07.parquet")
df.printSchema()
df.show(5)

## Data preprocessing

In [ ]:
# Conversion a unix timestamp:

# Definir la zona horaria
zona_horaria = "America/New_York"

# Considerando zona horaria:
df = df.withColumn("tpep_pickup_datetime", to_utc_timestamp(col("tpep_pickup_datetime"), zona_horaria))
# Convertir la columna 'tpep_pickup_datetime' a timestamp de Unix
df = df.withColumn("tpep_pickup_datetime", unix_timestamp(col("tpep_pickup_datetime")).cast("long"))

# Considerando zona horaria:
df = df.withColumn("tpep_dropoff_datetime", to_utc_timestamp(col("tpep_dropoff_datetime"), zona_horaria))
# Convertir la columna 'tpep_dropoff_datetime' a timestamp de Unix
df = df.withColumn("tpep_dropoff_datetime", unix_timestamp(col("tpep_dropoff_datetime")).cast("long"))

df.show(5)

Ahora se eliman filas con valores nulos importantes que no se pueden sustituir

In [ ]:
# Contar el número total de filas
numero_filas = df.count()

# Mostrar el resultado
print(f"Número total de filas en el DataFrame: {numero_filas}")

In [ ]:
df = df.dropna(subset=["VendorID"]) #Se eliminan filas con el número de VendorID nulo
df = df.dropna(subset=["tpep_pickup_datetime"]) #Se eliminan filas con el número de tpep_pickup_datetime nulo
df = df.dropna(subset=["tpep_dropoff_datetime"]) #Se eliminan filas con el número de tpep_dropoff_datetime nulo

# Eliminar filas donde 'passenger_count' sea '0'
df = df.filter(df.passenger_count != 0)
# Eliminar filas donde 'trip_distance' sea '0.0'
df = df.filter(df.trip_distance != 0)
# Eliminar filas donde 'extra' no este entre 0.5 y 1
df = df.filter((df.extra >= 0.5) & (df.extra <= 1))
# Eliminar filas donde 'tpep_pickup_datetime' es igual a 'tpep_dropoff_datetime'
df = df.filter(df.tpep_pickup_datetime != df.tpep_dropoff_datetime)
# Eliminar filas donde 'VendorID' no es 1 o 2:
df = df.filter(df.VendorID.isin([1,2]))
# Eliminar filas donde 'store_and_fwd_flag' no es "N" o "Y":
df = df.filter(df.store_and_fwd_flag.isin(["N","Y"]))
# Eliminar filas donde 'RatecodeID' no esta entre 1 y 6:
df = df.filter(df.RatecodeID.isin([1,2,3,4,5,6]))
# Eliminar filas donde 'payment_type' no esta entre 1 y 6:
df = df.filter(df.payment_type.isin([1,2,3,4,5,6]))
# Eliminar filas donde 'mta_tax' no sea 0.5
df = df.filter(df.mta_tax == 0.5)
# Eliminar filas donde 'improvement_surcharge' no este entre 0 y 0.3
df = df.filter((df.improvement_surcharge >= 0) & (df.improvement_surcharge <= 0.3))

# Los siguientes se pueden/deben modificar dependiendo de que queramos

# Eliminar filas donde 'fare_amount' no este entre 0 y 100
df = df.filter((df.fare_amount >= 0) & (df.fare_amount <= 100))


# Eliminar filas donde 'tip_amount' no este entre 0 y 100
df = df.filter((df.tip_amount >= 0) & (df.tip_amount <= 100))


# Eliminar filas donde 'tolls_amount' no este entre 0 y 100
df = df.filter((df.tolls_amount >= 0) & (df.tolls_amount <= 100))


# Contar el número total de filas
numero_filas = df.count()
# Mostrar el resultado
print(f"Número total de filas en el DataFrame: {numero_filas}")

In [ ]:
df.describe().show()

## Q1: Velocidad media de los taxis en función de la hora
Usando RDDs.

Generamos la vista y el RDD.

In [12]:
df.createOrReplaceTempView("trips")
trips = df.select(['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'trip_distance']).rdd

Procesamos:
1. **Map:** Transformamos las _entries_ (viajes) en tuplas `(<hora>, <velocidad_media>)`
2. **Reduce:** Calculamos la media de las velocidades por cada hora
3. **Sort:** Ordenamos las horas de 0 a 23

In [15]:
# map & reduce
trips_rdd = trips.map(lambda x: (datetime.fromtimestamp(x[0]).hour, (3600 * x[2]) / (x[1] - x[0]))).reduceByKey(lambda x,y: (x+y)/2).sortBy(lambda x: x[0], ascending=True)

Transformamos los resultados en un DataFrame para generar la gráfica.

In [ ]:
result = trips_rdd.toDF().withColumnRenamed("_1", "hour").withColumnRenamed("_2", "mean_mph")
result.show(result.count())

In [ ]:
fig = result.toPandas().plot(
    kind = "bar",
    x = 'hour',
    y = 'mean_mph',
    ylabel = "Velocidad media (mph)",
    xlabel = "Hora del día",
    title = "Velocidad media de los taxis en función de la hora",
    legend = False,
    color = 'y'
)
fig.figure.savefig("report/img/q1.svg")

## Q2: Viajes en taxi más comunes

### SQL

In [ ]:
df.createOrReplaceTempView("trips")
trips = spark.sql("""
  SELECT PULocationID, DOLocationID, count('x') as count
  FROM trips
  WHERE NOT PULocationID = 264
    AND NOT DOLocationID = 264
  GROUP BY PULocationID, DOLocationID
  SORT BY count DESC
  """
)
tic = perf_counter()
result_sql = trips.head(10)
time_sql = perf_counter() - tic

### Pyspark SQL

In [ ]:
df.createOrReplaceTempView("trips")
trips = df.select(['PULocationID', 'DOLocationID']).where("NOT PULocationID = 264").where("NOT DOLocationID = 264").groupBy('PULocationID', 'DOLocationID').count().sort(desc('count'))

tic = perf_counter()
result_psql = trips.head(10)
time_psql = perf_counter() - tic

### RDD

In [59]:
df.createOrReplaceTempView("trips")
trips = df.select(['PULocationID', 'DOLocationID']).where("NOT PULocationID = 264").where("NOT DOLocationID = 264").rdd
trips_rdd = trips.map(lambda x: ((x[0], x[1]), 1)).reduceByKey(lambda x,y: x+y)

In [ ]:
tic = perf_counter()
result = trips_rdd.sortBy(lambda x: x[1], ascending=False).take(10)
time_rdd = perf_counter() - tic

result_rdd = [
    (trip[0], trip[1], count)
    for trip, count in result
]

#### Resultados

In [ ]:
assert result_sql == result_psql == result_rdd  # ensure same results

# sacar resultados
for pu, do, count in result_rdd:
    print(f"{zone_map[pu][1]} -> {zone_map[do][1]}: {count}")

#### Eficiencia

In [ ]:
fig = plt.figure()
plt.bar(
    ["SQL", "Pyspark SQL", "RDD"],
    [time_sql, time_psql, time_rdd],
    color='y'
)
plt.plot()
plt.ylabel("Tiempo (s)")
plt.title("Comparativa de la eficiencia de Q2")
plt.show()

print(f"SQL: {time_sql}")
print(f"PSQL: {time_psql}")
print(f"RDD: {time_rdd}")

fig.savefig('report/img/q2_perf.svg')

## Q3: Porcentaje de propina por número de pasajeros

In [ ]:
df.createOrReplaceTempView("trips")
trips = df.select(['passenger_count', 'tip_amount', 'total_amount'])
result = trips.select('passenger_count', try_divide(df['tip_amount'], df['total_amount']).alias("p")).groupBy('passenger_count').avg('p').sort(asc('passenger_count'))
result.show()
result = result.toPandas()

In [ ]:
result.loc[:, 'avg(p)'] *= 100  # multiply avg by 100
fig = result.plot(
    kind = "bar",
    x = 'passenger_count',
    y = 'avg(p)',
    ylabel = "Propina media (%)",
    xlabel = "Número de pasajeros",
    title = "Porcentaje de propina por número de pasajeros",
    legend = False,
    ylim = (0, 15),
    color = 'y'
)
fig.figure.savefig("report/img/q3.svg")